.typing {
    font-size: 12px;
    padding-left: 10px;
}

.dots::after {
    content: "";
    animation: dots 1s steps(3, end) infinite;
}

@keyframes dots {
    0% {
        content: "";
    }

    33% {
        content: ".";
    }

    66% {
        content: "..";
    }

    100% {
        content: "...";
    }
}

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    /* 🔥 important */
}